.user{
    margin: 40px;
    /* background-color:#fd5517 */
    ;
}
.user img{
    height: 224px;
    width: 224px;
    border-radius:50%;
}
.user button{
    height:40px;
    width:200px;
    background-color:  #f9b2c3;
    border: 1px solid black;
    border-radius:10px;
    padding: 5px;
}
.user button:hover{
    cursor: pointer;
}